<header>
  <nav>
    <a href="/">MyLib</a>
    <ul>
      <li>
        <a href="/author">Author</a>
      </li>
      <li>
        <a href="/author/new">Add Author</a>
      </li>
    </ul>
  </nav>
</header>
