<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- include headers file -->
    <%- include('../partials/header.ejs') %>
    <br />
    <!-- include errorMessage file -->
    <%- include('../partials/errorMessage.ejs') %>
    <br />
    <%- body %>
  </body>
</html>
